$paleBlue: hsl(243, 100%, 93%);
$grayBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 50%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
