.nav {
  display: flex;
  background-color: green;
  padding: 4rem;
  @include responsive(desktop) {
    padding: 6rem;
  }
  &__logo {
    @include responsive(phone) {
      margin: 0 auto;
    }
  }

  &__list {
    padding: 0 5rem;
    @include responsive(phone) {
      display: flex;
      position: absolute;
      transform: translateY(-14rem);
      margin: 0 auto;
    }
    @include responsive(desktop) {
      display: flex;
    }
    li {
      padding: 0 2rem;
    }
  }
  &__list--active {
    transform: translate(0);
  }
}
