.nav {
  display: flex;
  position: fixed;
  padding: 4rem;
  height: 10rem;
  z-index: 100;
  @include responsive(desktop) {
    padding: 6rem;
  }
  &__logo {
    cursor: pointer;
    @include responsive(phone) {
      margin: 0 auto;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
//Navigation
.nav__list {
  padding: 0 5rem;
  @include responsive(phone) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-14rem);
    margin: 0 auto;
    transition: 0.5s;
    height: 10rem;
    background-color: $white;
    z-index: 1000;
  }

  @include responsive(desktop) {
    display: flex;
  }
  li {
    padding: 0 2rem;
  }
}
.nav__list.show {
  transform: translateY(0rem);
  @include responsive(phone) {
    a {
      color: $black;
    }
  }
}
.nav__list:hover {
  width: 100%;
  opacity: 1;
}
.list {
  position: relative;
}
.list::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  opacity: 0;
  transition: all 0.5s;
  @include responsive(phone) {
    background-color: $black;
  }
  @include responsive(desktop) {
    background-color: $white;
    bottom: -2rem;
  }
}
.list:hover::after {
  width: 50%;
  opacity: 1;
}

// SLIDER
.slide {
  display: grid;
  grid-template-columns: 1fr 40%;
  @include responsive(phone) {
    display: flex;
    flex-direction: column;
  }

  img {
    @include responsive(phone) {
      width: 100%;
      min-height: 50.75rem;
    }
    @include responsive(desktop) {
      height: 65vh;
      min-height: 60rem;
      height: 66.75rem;
      min-height: 66.75rem;
    }
  }
  &__text {
    position: relative;
    top: 0;
    min-height: 35.75rem;
    width: 100%;
    z-index: 1;
    position: relative;
    top: 0;
  }
}
section.gallery {
  position: relative;
  height: 85.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include responsive(desktop) {
    height: 66.75rem;
  }
}
.slide {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  // min-height: 600px;
}
.slide.active {
  z-index: 2;
  opacity: 1;
}

// Buttons
.slide__btn {
  position: absolute;
  display: flex;
  z-index: 100;
  @include responsive(phone) {
    top: 46rem;
    right: 0;
  }
  @include responsive(desktop) {
    left: 60%;
    bottom: 0;
  }

  &--prev,
  &--next {
    background-color: $black;
    padding: 3rem 4rem;
    @include responsive(phone) {
      padding: 1rem 2rem;
    }
  }
  &--prev:hover,
  &--next:hover {
    background-color: $verydarkGray;
    transition: 0.5s;
  }
}

// About Section

.about {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  @include responsive(phone) {
    display: flex;
    flex-direction: column;
  }
  .about-img,
  img {
    width: 100%;
    min-height: 35vh;
  }
}

//img
@include responsive(desktop) {
  .mobile-img {
    display: none;
  }
}
@include responsive(phone) {
  .desktop-img {
    display: none;
  }
}
