header {
  background-color: $paleCyan;
  @include responsive(phone) {
    padding: 4rem 6rem;
    background-image: url(../images/bg-hero-mobile.svg);
  }
  @include responsive(desktop) {
    height: 100vh;
    padding: 6rem 8rem;
    background-image: url(../images/bg-hero-desktop.svg);
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .hero {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    @include responsive(phone) {
      flex-direction: column;
    }
    @include responsive(desktop) {
      flex-direction: row;
    }
    h1,
    p,
    button {
      @include responsive(phone) {
        margin-bottom: 1.5rem;
      }
      @include responsive(desktop) {
        margin-bottom: 3.5rem;
      }
    }
    p {
      max-width: 75rem;
    }
  }
}
section.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem 0;
  @include responsive(phone) {
    margin: 7rem 0;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    @include responsive(phone) {
      flex-direction: column;
      margin-bottom: 5rem;
    }
    @include responsive(desktop) {
      margin-bottom: 10rem;
    }
    &__text-wrapper {
      @include responsive(phone) {
        width: 100%;
        order: 2;
      }
      @include responsive(desktop) {
        width: 50%;
      }
      h2 {
        margin-bottom: 1.6rem;
      }
    }
    &__img {
      margin: 0 10rem;
      @include responsive(phone) {
        margin-bottom: 10rem;
      }
    }
  }
}
.feature__image--left img {
  display: flex;
  order: 1;
  justify-content: flex-start;
}
