// Colors
$darkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$lightGrayBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

// Base
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*,
::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: $lightGray;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
