html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*,
::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
