header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @include responsive(phone) {
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding: 0 4rem;
  }
  @include responsive(desktop) {
    max-width: 1440px;
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding: 0 5rem;
  }
  .logo {
    @include responsive(phone) {
      width: 13rem;
    }
  }
  nav {
    a {
      color: $darkBlue;
      font-size: 1.6rem;
      margin-left: 3.5rem;
      @include responsive(phone) {
        margin-left: 3rem;
        font-size: 1.4rem;
      }
    }
  }
}
// Sections Layout
section.feature,
.container {
  display: flex;
  align-items: center;
  @include responsive(phone) {
    flex-direction: column;
    padding: 0 4rem;
    .feature__img,
    img {
      order: 1;
    }
    .feature__text {
      order: 2;
    }
  }
  @include responsive(desktop) {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 5rem;
  }
}

.divider {
  @include responsive(phone) {
    background: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 3.2rem;
    margin: 0 auto;
  }
  @include responsive(desktop) {
    background: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10rem;
  }
}

.feature-1 {
  h1 {
    line-height: 1.6;
    padding: 3rem 0;
  }
  p {
    padding-bottom: 3rem;
  }
  @include responsive(desktop) {
    .feature__text {
      p {
        max-width: 80%;
      }
    }
  }
}

.feature-2 {
  background-color: $lightGrayBlue;
  // margin: 0 !important;
  // padding: 0 !important;
  padding: 10rem 0 !important;
  min-width: 100vw !important;
  @include responsive(desktop) {
    h2 {
      padding-bottom: 3rem;
    }
    p,
    .see-how {
      max-width: 90%;
      padding-bottom: 2rem;
    }
  }
}

.see-how > a {
  text-decoration: underline;
  color: $cyan;
}
a:hover {
  color: $brightBlue;
}

// CTA SECTION
section.cta {
  padding: 4rem 0;
  @include responsive(desktop) {
    padding: 10rem;
  }

  background-color: $desaturatedBlue;
  .cta__text {
    h2 {
      font-size: 3rem;
      padding-bottom: 3rem;
    }
    p {
      max-width: 100%;
      padding-bottom: 3rem;
      @include responsive(desktop) {
        max-width: 60%;
      }

      line-height: 1.6;
    }
  }
}

// Footer
footer {
  background-color: $darkBlue;
  color: #fff;
  padding: 6.4rem 12rem;
  padding-top: 10rem;
  @include responsive(phone) {
    padding-left: 4rem;
  }
}
.footer__logo {
  padding-bottom: 2rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  @include responsive(phone) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer-body {
  ul {
    padding: 1rem 0;
    li {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      p {
        color: #fff;
        padding-left: 0rem;
      }
    }
  }
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  @include responsive(desktop) {
    min-width: 40rem;
  }

  @include responsive(phone) {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }
  ul {
    padding-bottom: 4rem;
    li,
    a {
      color: #fff;
      padding: 0 0rem;
      padding-bottom: 2rem;
    }
  }
}
.social-icons {
  display: flex;
  @include responsive(phone) {
    margin: 0 auto;
  }

  justify-content: center !important;
  .icon {
    margin: 0 1rem;
  }
  .icon:hover {
    opacity: 0.8;
  }
}
.fab {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.cta__form {
  display: flex;
  flex-direction: column;
  @include responsive(phone) {
    flex-direction: column;
  }
  input {
    @include responsive(desktop) {
      width: 50rem;
    }
  }
  button {
    // margin-top: 1rem;
    width: 30rem;
    @include responsive(phone) {
    }
  }
}

button.cta-button {
  @include responsive(phone) {
    width: 100%;
  }
}
.feature-1 {
  @include responsive(desktop) {
    h1 {
      max-width: 80%;
    }
    p {
      max-width: 65% !important;
    }
    .cta__form {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input {
      max-width: 40%;
      margin-bottom: 0;
    }
    button {
      margin-left: 1rem;
      max-width: 10%;
      margin-top: 0 !important;
    }
  }
}
