header {
  display: flex;
}
// Footer
footer {
  background-color: $darkBlue;
  color: #fff;
  padding: 6.4rem 12rem;
  padding-top: 10rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  @include responsive(phone) {
    flex-direction: column;
  }
}
.footer-body {
  ul {
    padding: 1rem 0;
    li {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      p {
        padding-left: 0rem;
      }
    }
  }
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  min-width: 40rem;
  @include responsive(phone) {
    padding: 5rem 0;
  }
  ul {
    li,
    a {
      color: #fff;
      padding: 0 1rem;
      padding-bottom: 2rem;
    }
  }
}
.social-icons {
  display: flex;
  .icon {
    margin: 3rem;
  }
  .icon:hover {
    opacity: 0.8;
  }
}
