body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $darkBlue;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
nav,
button {
  font-family: 'Raleway', sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

button {
  font-weight: 700;
}
footer {
  font-size: 1.6rem;
}

.feature__text {
  @include responsive(phone) {
    h1 {
      font-size: 2.8rem;
    }
  }
  @include responsive(desktop) {
    h1,
    h2 {
      font-size: 4rem;
    }
    h2 {
    }
  }
}
.cta {
  color: #fff;
}
blockquote {
  font-size: 1.2rem;
  line-height: 2;
}
.info_text {
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}
.light-text {
  color: $desaturatedBlue;
}
