* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
