// Colors
// Backgrounds
$darkBlue-BG: hsl(217, 28%, 15%);
$darkBlueMain: hsl(218, 28%, 13%);
$darkBlueFooter: hsl(216, 53%, 9%);
$darkBlueTestimonial: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*,
::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
