body {
  background-color: $darkBlue-BG;
}

header {
  background-color: $darkBlue-BG;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 4rem 0;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  @include responsive(desktop) {
    padding: 7.3rem 8 0;
    max-width: 128rem;
  }
  .logo img {
    @include responsive(phone) {
      width: 12rem;
    }
  }
  nav {
    display: flex;
    a {
      margin-right: 5.8rem;
    }
  }
}
.hero {
  background-color: $darkBlue-BG !important;

  padding-top: 7.5rem;
  @include responsive(phone) {
    background-color: $darkBlue-BG;
    background: url(../images/bg-curvy-mobile.svg);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include responsive(desktop) {
    height: 100vh;
    background-color: $darkBlue-BG;
    background: url(../images/bg-curvy-desktop.svg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__img {
    max-width: 72rem;
    width: 82%;
    margin: 0 auto;
  }
  &__text {
    text-align: center;
    max-width: 72rem;
    margin: 0 auto;
  }
}
.features {
  margin: auto;
  background-color: $darkBlueMain;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(phone) {
    flex-direction: column;
  }
}

.about {
  background-color: $darkBlueMain;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(phone) {
    flex-direction: column;
  }
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  @include responsive(phone) {
    flex-direction: column;
  }
  &__card {
    background-color: $darkBlueTestimonial;
    padding: 3rem;
    max-width: 36rem;
    margin: 2rem;
  }
}
.profile {
  display: flex;
  &__avatar {
    max-width: 2.4rem;
  }
}
