// Colors

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$darkBlue: hsl(234, 12%, 34%);
$grayBlue: hsl(229, 6%, 66%);
$lightGray: hsl(0, 0%, 98%);
$shadow: rgba(131, 166, 210, .34);


// - Mobile: 375px
// - Desktop: 1440px
// - Font size: 15px