//  Colors
$violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);

// Font- styles
.open-499 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
.poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
.poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
