.card {
  position: relative;
  width: 100%;
  height: 50%;

  z-index: 1;
}
.card-face {
  @include flexCenter;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
.card-face__front,
.card-face__back {
  background-color: $desaturatedBlue;
  border: 1px solid green;
}
