.flip-clock {
  position: relative;
  display: flex;
  width: calc(1vw + 1.843em);
  height: calc(1vw + 1.759em);
  font-size: clamp(3.5rem, 5vw, 7.8rem);
  color: $red;
  box-shadow: 0 0.14em 0 $vDarkBlue;

  &:not(:last-of-type) {
    margin-right: calc(1vw + 1.76rem);
  }

  &::before,
  &::after {
    @include flexCenter;
    align-items: unset;
    background-color: $desaturatedBlue;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border: 1px solid $vDarkBlue;
    border-bottom: none;
  }

  &::before {
    content: attr(data-current-number);
    bottom: 0;
    align-items: flex-start;
    border-radius: 0 0 10px 10px;

    border-top: none;
  }

  &::after {
    content: attr(data-next-number);
    top: 0;
    border-radius: 10px 10px 0 0;

    align-items: flex-end;
    border-bottom: none;
    background-color: darken($desaturatedBlue, 3.5%);
    color: darken($red, 2%);
  }

  & > * {
    cursor: default;
    user-select: none;
  }
}

.flip-clock__caption {
  font-size: clamp(0.7rem, 1vw, 1.4rem);
  color: $grayishBlue;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: calc(-1.56rem - 1vw);
}
