*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

body {
  @include flexCenter;
  flex-direction: column;
  font-size: 1.4rem;
  color: $white;
  min-height: 100vh;
  background-color: black;
  background: url(../images/pattern-hills.svg) no-repeat bottom right 20%,
    $color-bg-gradient;
  position: relative;
  overflow: hidden;

  @include breakpoint($bp-lg) {
    background: url(../images/pattern-hills.svg) no-repeat bottom / contain,
      $color-bg-gradient;
  }
}
// Layout

main {
  @include flexCenter;
  flex-direction: column;
  margin: 14.1rem o auto;
  padding: 0 2.4rem;
}
h1 {
  font-size: clamp(1.8rem, 5vw, 2.2rem);
  letter-spacing: clamp(0.3em, 5vw, 0.275em);
  text-transform: uppercase;
  text-align: center;
}
.countdown {
  @include flexCenter;
  margin-top: 17.9%;
}
