main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 80rem;
  margin: 0 auto;
  padding-top: 11rem;
  padding-bottom: 6rem;
  color: $gray;
  .logo {
    width: auto;
    height: auto;
    margin-bottom: 9rem;

    @include responsive(desktop) {
      margin-bottom: 6rem;
    }
  }
  h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 300;
    @include responsive(desktop) {
      margin-bottom: 1.75rem;
      font-size: 6rem;
    }
    span {
      color: $darkBlue;
      font-weight: 700;
    }
  }
  h2 {
    margin-bottom: 5rem;
    color: $darkBlue;
    font-size: 2rem;
    font-weight: 300;
    @include responsive(desktop) {
      font-size: 2.5rem;
    }
  }
}
form {
  margin-bottom: 14rem;
  display: flex;
  flex-direction: column;
  width: 36rem;

  @include responsive(desktop) {
    margin-bottom: 11rem;
    flex-direction: row;
  }
}
.hero {
  width: 80%;
  margin-bottom: 17rem;

  @include responsive(desktop) {
    width: 100%;
    margin-bottom: 9rem;
  }
}
.icons {
  margin-bottom: 3rem;

  @include responsive(desktop) {
    margin-bottom: 2.5rem;
  }
}
.copyright {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}
