html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000;
  overflow: hidden;
}

#nav {
  background: linear-gradient(to bottom, #000000 50%, #1d1d1d 97%, #333333 97%);
  width: 100%;
  height: 61px;
  overflow: hidden;
}

#logo {
  height: 61px;
  float: left;
}

#projects {
  width: 2000px;
}

.project {
  transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */

  position: relative;

  width: 20px;
  height: 61px;

  float: left;
  /* padding: 12px 0px;*/

  cursor: pointer;

  overflow: hidden;
}

.project .image {
  position: absolute;
  top: 12px;
  border: 2px solid #ffffff;
  width: 32px;
  height: 32px;
  background-color: #000000;
  background-image: url('files/projects/thumbnails.png');
}

.project div {
  position: absolute;

  left: 42px;
  top: 11px;
  width: 132px;

  color: #ffffff;
  font-weight: bold;
  font-size: 9px;
  line-height: 13px;
}

.project:hover {
  transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  width: 45px;
}

.project.selected {
  transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  width: 180px;
}

.project.selected:hover {
  width: 180px;
}

#expand {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 15px;
  top: 15px;
  display: none;
}

#expand span {
  background: #888;
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px 6px;
}

#expand span:nth-child(1) {
  margin-top: 8px;
}

#viewer {
  position: absolute;
  width: 100%;
  top: 61px;
  bottom: 0px;
}

@media all and (max-width: 640px) {
  nav {
    background: none;
    height: auto;
    overflow: auto;
  }
  nav .hidden {
    display: none;
  }
  #logo {
    position: absolute;
    background: linear-gradient(
      to bottom,
      #000000 50%,
      #1d1d1d 97%,
      #333333 97%
    );
    width: 100%;
  }
  #projects {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 61px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    z-index: 1;
  }
  .project {
    margin-left: 15px;
    width: 140px;
    display: inline;
  }
  .project:hover {
    width: 140px;
  }
  .project.selected {
    width: 140px;
  }
  .project.selected:hover {
    width: 140px;
  }
  .project .link {
    display: none;
  }
  #expand {
    display: block;
  }
  #viewer {
    z-index: 0;
  }
}
