// Base Styling
html {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Themes

.dark-theme {
  // top-img
  @include responsive(phone) {
    --bg-img: url(../images/bg-mobile-dark.jpg);
  }
  @include responsive(desktop) {
    --bg-img: url(../images/bg-desktop-dark.jpg);
  }
  // colors
  --bg-color: hsl(235, 21%, 11%);

  // Todo-list container color
  --bg-todo-list: hsl(235, 24%, 19%);
  --bg-todo-list-border: hsl(233, 14%, 35%);
  // text color

  --text-active: hsl(234, 39%, 85%);
  --text-inactive: hsl(233, 14%, 35%);
  .changeTheme-btn {
    background: url(../images/icon-sun.svg);
    background-size: cover;
    width: 26px;
    height: 26px;
  }
}

.light-theme {
  // top-img
  @include responsive(phone) {
    --bg-img: url(../images/bg-mobile-light.jpg);
  }
  @include responsive(desktop) {
    --bg-img: url(../images/bg-desktop-light.jpg);
  }
  // Color
  --bg-color: hsl(236, 33%, 92%);

  // Todo-list container color
  --bg-todo-list: hsl(0, 0%, 98%);
  --bg-todo-list-border: hsl(233, 14%, 35%);
  // text color

  --text-active: hsl(235, 19%, 35%);
  --text-inactive: hsl(233, 11%, 84%);
  .changeTheme-btn {
    background: url(../images/icon-moon.svg);
    background-size: cover;
    width: 26px;
    height: 26px;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-active);
}
