.bg-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: var(--bg-img);
  position: absolute;
  z-index: -1;
  @include responsive(desktop) {
    height: 300px;
  }
}

main {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
}
