.bg-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: var(--bg-img);
  position: absolute;
  z-index: -1;
  @include responsive(desktop) {
    height: 300px;
  }
}
main {
  max-width: 54rem;
  margin: 0 auto;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 4.8rem;
  @include responsive(desktop) {
    padding-top: 7rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 15px;
  h1 {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #fff;
    @include responsive(desktop) {
      font-size: 4rem;
    }
  }
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--text-active);
  cursor: pointer;
  outline: none;
}
.active .circle {
  cursor: pointer;
  background: url(../images/icon-check.svg),
    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--text-active);
  outline: none;
}
.active span {
  text-decoration: line-through;
  color: var(--text-inactive);
  height: 23px;
}

.todo-container {
  &__input {
    background-color: var(--bg-todo-list);
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 2rem;
    padding: 0 3rem;
    align-items: center;
    margin-top: 3.2rem;
    height: 4.8rem;
    border-radius: 5px;
    @include responsive(desktop) {
      height: 6.4rem;
    }
    #input {
      background-color: transparent;
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      color: var(--text-active);
      @include responsive(desktop) {
        font-size: 1.8rem;
      }
    }
  }
}
.todo-list {
  background: var(--bg-todo-list);
  margin-top: 4.8rem;
  border-radius: 5px;
}
.item {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-gap: 2rem;
  padding: 0 3rem;
  align-items: center;
  height: 6.4rem;
  border-bottom: 1px solid var(--text-inactive);
  outline: none;
}
.close {
  outline: none;
  position: relative;
  opacity: 0.6;
  right: -2rem;
  transition: 0.5s;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.close:hover {
  outline: none;
  opacity: 1;
  transform: scale(1.2);
}
.text {
  outline: none;
  font-size: 1.8rem;
  color: var(--text-active);
  font-weight: 500;
}

.todo-remarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--bg-todo-list);
  display: flex;
  height: 6.4rem;
  font-size: 1.4rem;
  color: var(--text-inactive);
  border-radius: 0 0 5px 5px;
  margin-bottom: 4rem;
  .filter {
    button {
      padding: 0 0.4rem;
    }
  }
  button:hover {
    color: var(--text-active);
  }
  .clear:hover {
    color: var(--text-active);
    cursor: pointer;
  }
}
@include responsive(phone) {
  .todo-remarks {
    height: 4.8rem;
  }
  .filter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    background-color: var(--bg-todo-list);
    margin-top: 35vw;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 76%;
    height: 4.8rem;
    border-radius: 5px;
  }
}
