// Base Styling
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
*,
*,
::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Themes
.dark-theme {
  transition: 0.5s;

  // colors
  // Background
  --bg-color: hsl(230, 17%, 14%);
  --bg-top: hsl(232, 19%, 15%);
  --bg-color-card: hsl(228, 28%, 20%);
  // text color
  --text-subheading: hsl(228, 34%, 66%);
  --text-heading: hsl(0, 0%, 100%);
  .changeTheme-btn {
    background: linear-gradient(
      to right,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)      
    );
    border-radius: 30px;
    .circle {
      background-color: var(--bg-top);
      height: 20px;
      width: 20px;
      position: relative;
      top: 3px;
      left: 3px;
      transition: .3s linear;
      
      border-radius: 50%;
    }
  }
}
.light-theme {
  transition: 0.5s;
  // colors
  // Background
  --bg-color: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --bg-color-card: hsl(227, 47%, 96%);
  // text color
  --text-subheading: hsl(228, 12%, 44%);
  --text-heading: hsl(230, 17%, 14%);
  .changeTheme-btn {
    background: hsl(230, 22%, 74%);
    
  }
  .circle {
    background-color: var(--bg-top);
    // height: 20px;
    // width: 20px;
    // position: absolute;
    // right: 0;
    transform: translateX(26px);
    transition: .3s linear;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-heading);
}
