header {
  display: flex;
  // background-color: var(--bg-top);
  background-color: blue;
  height: 23rem;
}

.card-main {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  @include responsive(phone) {
    flex-direction: column;
  }
}

.card {
  // background-color: var(--bg-color-card);
  background-color: green;
  margin: 3rem;
  height: 20rem;
  width: 20vw;
  min-width: none;

  @include responsive(phone) {
    width: 90vw;
  }
}

.overview {
  position: relative;
  top: 15vh;
  .overview-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 7rem;
  }
}
