header {
  display: flex;
  // background-color: var(--bg-top);
  background-color: blue;
  height: 23rem;
}

.card-main {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  @include responsive(phone) {
    flex-direction: column;
  }
}

.card {
  // background-color: var(--bg-color-card);
  background-color: green;
  margin: 3rem;
  height: 23rem;
  width: 20vw;
  min-width: none;

  @include responsive(phone) {
    width: 90vw;
  }
}

.overview {
  position: relative;
  top: 16vh;

  h3 {
    font-size: 2.5rem;
  }
  .overview-cards {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // margin: 0 7rem;
    .card {
      height: 15rem;

      display: flex;
      align-items: center;
      padding: 3rem;
    }
  }
  img {
    display: block;
  }
}
