html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Kumbh Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  background-color: $darkCyan;
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
  font-size: 1.125rem;
}

.card {
  max-width: 500px;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, .2);
  overflow: hidden;

  &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #ededed;

      &__avatar {
          margin-top: -3.75rem;
          margin-bottom: 1.5rem;
          border: 5px solid white;
          border-radius: 50%;
          transition: all .5s ease;
      }

      &__profile {
          display: flex;
          align-items: center;
          margin-bottom: 0.5625rem;
          transition: all .5s ease;

          h1 {
              margin-right: .5rem;
              color: $darkBlue;
              font-size: inherit;
          }

          span {
              color: $darkGray;
          }
        }

      &__location {
          margin-bottom: 1.5rem;
          color: $darkGray;
          font-size: 0.875rem;
      }
    }

  &__info {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 3em;
      padding-top: 1.5rem;
      padding-right: 3.5rem;
      text-align: center;

      &__stats{
        text-align: center;

        &__number {
          margin-bottom: .5rem;
          color: $darkBlue;
          font-weight: 700;
        }  
        &__label {
          color: $darkGray;
          font-size: 0.5625rem;
          letter-spacing: 1px;
        }      
    }
  }
}
