html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.center{
  text-align: center;
}

// Globals
li {
  list-style: none;
}

body {
  display: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  font-family: $font;
  background-color: $darkCyan;
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  @include responsive(sm-phone)
  {
    background-size: 700px 700px, 700px 700px;
    background-position: left -300px top -400px, right -300px bottom -400px
  }
  @include responsive(phone)
  {
    background-size: 750px 750px, 750px 750px;
    background-position: left -400px top -400px, right -400px bottom -400px
  }
  @include responsive(tablet)
  {
    background-size: 800px 800px, 800px 800px;
    background-position: left -350px top -450px, right -350px bottom -500px;
  }
  @include responsive(sm-desktop)
  {
    background-size: 800px 800px, 800px 800px;
    background-position: left -275px top -450px, right -275px bottom -450px;
  }
  @include responsive(desktop)
  {
    background-size: 850px 850px, 850px 850px;
    background-position: left -200px top -400px, right -200px bottom -500px;
  }
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

hr{
  height: 2px;
  color: #fff;
}

main {
  position: relative;
  padding: 0 24px;
  margin: auto;
  width: 100%;
}

// Font Styles
.bold {
  font-size: 1.125rem;
  font-weight: 700;
  color: $darkBlue;
}

.normal {
  font-size: 1rem;
  font-weight: 400;
  color: $darkGrayishBlue;
}

.light {
  font-size: 0.75rem;
  font-weight: 400;
  color: $darkGrayishBlue;
}

//  Styles
.card {
  display: block;
  width: 100%;
  max-width:350px; 
  border-radius: 16px;
  margin: auto;
  background-color: white;

  &__banner {
    height: 140px;
    width: 100%;
    background: url('../images/bg-pattern-card.svg') center no-repeat;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__info {
    position: relative;

    .avatar {
      height: 50px;

      img {
        height: 100px;
        width: 100px;
        position: relative;
        top: -50px;
        border-radius: 100%;
        border: 4px #fff solid;
      }   
    }
  }
}
.stats {
  padding: 2rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
} 

.attribution { 
  font-size: 11px; 
  text-align: center; 

  a{
    color: $darkBlue;
  }
}
