html {
  box-sizing: border-box;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: $lightGrayBlue;
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
}
.container {
  padding: 3rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40.875rem;
  border-radius: 1.5rem;
  box-shadow: 5px 15px 25px rgba(36, 25, 25, 0.05);

  @include responsive(desktop) {
    flex-direction: row;
    max-width: 45rem;
  }

  &__img {
    height: 26rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;

    @media only screen and (min-width: 1000px) {
      height: auto;
      flex-basis: 110%;
      border-bottom-left-radius: 1.5rem;
      border-top-right-radius: 0;
    }

    img {
      object-fit: cover;
      object-position: 0 0;
      height: 100%;
      width: 100%;
    }
  }

  &__text-wrapper {
    padding: 2rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    @media only screen and (min-width: 1000px) {
      padding: 2rem 2.5rem;
      border-top-right-radius: 1.5rem;
      border-bottom-left-radius: 0;
    }
  }

  &__heading {
    margin-bottom: 2rem;
    color: $darkGrayBlue;
    font-size: 1rem;

    @media only screen and (min-width: 1000px) {
      font-size: 1.25rem;
    }
  }

  &__paragraph {
    margin-bottom: 1.5rem;
    color: $darkBlue;
  }

  &__footer-wrapper {
    display: flex;
    align-items: center;
  }
  .author {
    &__img {
      width: 2.5rem;
      margin-right: 1rem;
      border-radius: 50%;
    }

    &__info {
      margin-right: auto;
    }

    &__name {
      color: $darkGrayBlue;
      font-weight: 700;
    }

    &__date {
      color: $darkGrayBlue;
    }
  }

  &__btn {
    position: relative;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;
    background-color: #edf1fa;
    outline: none;
    cursor: pointer;
    z-index: 5;
  }
}

.links {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  padding: 2rem 2rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-color: $darkGrayBlue;

  @media only screen and (min-width: 1000px) {
    left: 75.85%;
    bottom: 5.5rem;
    width: auto;
    padding: 0.8175rem 1.75rem;
    border-radius: 1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $darkGrayBlue;
    }
  }

  &__text {
    margin-right: 1rem;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  &__icons {
    display: flex;
    align-items: center;

    a {
      &:not(:last-child) {
        margin-right: 0.75rem;
      }
    }
  }
}
