html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 50%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-light-greyish-blue);
  font-family: 'Manrope', sans-serif;
  font-size: 1.625rem;
}

.content-wrapper {
  padding: 3rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40.875rem;
  border-radius: 1.5rem;
  box-shadow: 5px 15px 25px rgba(36, 25, 25, 0.05);

  @media only screen and (min-width: 1000px) {
    flex-direction: row;
    max-width: 90rem;
  }

  &__img {
    height: 26rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;

    @media only screen and (min-width: 1000px) {
      height: auto;
      flex-basis: 110%;
      border-bottom-left-radius: 1.5rem;
      border-top-right-radius: 0;
    }

    img {
      object-fit: cover;
      object-position: 0 0;
      height: 100%;
      width: 100%;
    }
  }

  &__text-wrapper {
    padding: 4rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    @media only screen and (min-width: 1000px) {
      padding: 4rem 5rem;
      border-top-right-radius: 1.5rem;
      border-bottom-left-radius: 0;
    }
  }

  &__heading {
    margin-bottom: 2rem;
    color: var(--color-very-dark-greyish-blue);
    font-size: 2rem;

    @media only screen and (min-width: 1000px) {
      font-size: 2.5rem;
    }
  }

  &__paragraph {
    margin-bottom: 3rem;
    color: var(--color-desaturated-dark-blue);
  }

  &__footer-wrapper {
    display: flex;
    align-items: center;
  }

  .author {
    &__img {
      width: 5rem;
      margin-right: 2rem;
      border-radius: 50%;
    }

    &__info {
      margin-right: auto;
    }

    &__name {
      color: var(--color-very-dark-greyish-blue);
      font-weight: 700;
    }

    &__date {
      color: var(--color-greyish-blue);
    }
  }

  &__btn {
    position: relative;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 50%;
    background-color: #edf1fa;
    outline: none;
    cursor: pointer;
    z-index: 5;

    &:hover {
      background-color: rgb(196, 200, 207);
    }

    svg {
      height: auto;
      width: 2.5rem;

      & * {
        fill: var(--color-desaturated-dark-blue);
      }
    }
  }
}

.popup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  padding: 2.125rem 4rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--color-very-dark-greyish-blue);
  z-index: 3;

  @media only screen and (min-width: 1000px) {
    left: 75.85%;
    bottom: 11rem;
    width: auto;
    padding: 1.75rem 3.5rem;
    border-radius: 1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid var(--color-very-dark-greyish-blue);
    }
  }

  &__text {
    margin-right: 2rem;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
  }

  &__icons {
    display: flex;
    align-items: center;

    a {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      svg {
        height: 3rem;
        width: auto;

        & * {
          fill: white;
        }

        &:hover * {
          fill: hsl(210, 10%, 80%);
        }
      }

      .twitter {
        height: 2.375rem;
      }
    }
  }
}

.attribution {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 11px;
  text-align: center;

  a {
    color: var(--color-greyish-blue);
  }
}
